body {
    background-color: #f7f0f0;
    font-family: 'Nunito', sans-serif;
  }
  
  h1 {
    color: white;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  }
  
  p {
    font-family: 'Reenie Beanie', cursive;
    font-size: 20px;
  }