<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app>
    <input type="text" ng-model="firstName" placeholder="Enter your firstname here">
    <input type="text" ng-model="lastName" placeholder="Enter your lastname here">

    <h1>Hello {{ firstName }} {{ lastName }}</h1>

    <div ng-init="moms=0.25">
        <p>Pris exkl moms:100</p>
        <p>Pris inkl moms: {{ 100 * (1 + moms) }}</p>
    </div>

    <div ng-init="person= {firstName:'John', lastName:'Doe'}">
        <h1>{{person.firstName}} {{person.lastName}}</h1>
    </div>

    <button ng-init="count=0" ng-click="count = count + 1">Klicka här för att testa ng-click!</button>
    <h2>{{ count }}</h2>

    <div ng-init="qty=1;cost=10">
        Antal: <br>
        <input type="number" min="0" ng-model="qty"> <br>
        Pris: <br>
        <input type="number" min="0" ng-model="cost"> <br>

        Totalt: {{qty * cost}}

    </div>



    <div ng-init="qtyx1=0;qtyx2=0;costone=10;costtwo=15">
        <table>
            <tr>
                <th>Produkt</th>
                <th>Pris</th>
                <th>Antal</th>
                <th>Summa</th>
            </tr>
            <tr>
                <td>Produkt 1</td>
                <td ng-model="costone"> {{costone}} kr</td>
                <td><input type="number" ng-model="qtyx1" min="0"></td>
                <td>{{qtyx1 * costone}}</td>
            </tr>
            <tr>
                <td>Produkt 2</td>
                <td ng-model="costtwo">{{costtwo}} kr</td>
                <td><input type="number" ng-model="qtyx2" min="0"></td>
                <td>{{ qtyx2 * costtwo}}</td>
            </tr>
        </table>

    </div>


    <div ng-init="months=['Jan', 'Feb', 'Mar']">
        <div ng-repeat='month in months'>
            {{month}}
        </div>


        <div ng-init="days=['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']"></div>
        <div ng-repeat='day in days'>{{day}}</div>



    </div>

    <!-- <div ng-include="'footer.html'"></div> -->

    <script src="angular.js"></script>

</body>

</html>